ClienteWebService_Soap/xml-resources/web-service-references/Operacoes/wsdl/localhost_8080/WebService_SOAP/Operacoes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="Operacoes">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/WebService_SOAP/Operacoes?xsd=1"/>
</xsd:schema>
</types>
<message name="adiciona">
<part name="parameters" element="tns:adiciona"/>
</message>
<message name="adicionaResponse">
<part name="parameters" element="tns:adicionaResponse"/>
</message>
<message name="consulta">
<part name="parameters" element="tns:consulta"/>
</message>
<message name="consultaResponse">
<part name="parameters" element="tns:consultaResponse"/>
</message>
<message name="exclui">
<part name="parameters" element="tns:exclui"/>
</message>
<message name="excluiResponse">
<part name="parameters" element="tns:excluiResponse"/>
</message>
<message name="altera">
<part name="parameters" element="tns:altera"/>
</message>
<message name="alteraResponse">
<part name="parameters" element="tns:alteraResponse"/>
</message>
<message name="lista_op">
<part name="parameters" element="tns:lista_op"/>
</message>
<message name="lista_opResponse">
<part name="parameters" element="tns:lista_opResponse"/>
</message>
<message name="lista_ab">
<part name="parameters" element="tns:lista_ab"/>
</message>
<message name="lista_abResponse">
<part name="parameters" element="tns:lista_abResponse"/>
</message>
<portType name="Operacoes">
<operation name="adiciona">
<input wsam:Action="http://WebServices/Operacoes/adicionaRequest" message="tns:adiciona"/>
<output wsam:Action="http://WebServices/Operacoes/adicionaResponse" message="tns:adicionaResponse"/>
</operation>
<operation name="consulta">
<input wsam:Action="http://WebServices/Operacoes/consultaRequest" message="tns:consulta"/>
<output wsam:Action="http://WebServices/Operacoes/consultaResponse" message="tns:consultaResponse"/>
</operation>
<operation name="exclui">
<input wsam:Action="http://WebServices/Operacoes/excluiRequest" message="tns:exclui"/>
<output wsam:Action="http://WebServices/Operacoes/excluiResponse" message="tns:excluiResponse"/>
</operation>
<operation name="altera">
<input wsam:Action="http://WebServices/Operacoes/alteraRequest" message="tns:altera"/>
<output wsam:Action="http://WebServices/Operacoes/alteraResponse" message="tns:alteraResponse"/>
</operation>
<operation name="lista_op">
<input wsam:Action="http://WebServices/Operacoes/lista_opRequest" message="tns:lista_op"/>
<output wsam:Action="http://WebServices/Operacoes/lista_opResponse" message="tns:lista_opResponse"/>
</operation>
<operation name="lista_ab">
<input wsam:Action="http://WebServices/Operacoes/lista_abRequest" message="tns:lista_ab"/>
<output wsam:Action="http://WebServices/Operacoes/lista_abResponse" message="tns:lista_abResponse"/>
</operation>
</portType>
<binding name="OperacoesPortBinding" type="tns:Operacoes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="adiciona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exclui">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lista_op">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lista_ab">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operacoes">
<port name="OperacoesPort" binding="tns:OperacoesPortBinding">
<soap:address location="http://localhost:8080/WebService_SOAP/Operacoes"/>
</port>
</service>
</definitions>