ClienteWebSoap/xml-resources/web-service-references/Operacoes/wsdl/localhost_8080/WebService_SOAP/Operacoes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="adiciona" type="tns:adiciona"/>

<xs:element name="adicionaResponse" type="tns:adicionaResponse"/>

<xs:element name="altera" type="tns:altera"/>

<xs:element name="alteraResponse" type="tns:alteraResponse"/>

<xs:element name="consulta" type="tns:consulta"/>

<xs:element name="consultaResponse" type="tns:consultaResponse"/>

<xs:element name="exclui" type="tns:exclui"/>

<xs:element name="excluiResponse" type="tns:excluiResponse"/>

<xs:element name="lista_ab" type="tns:lista_ab"/>

<xs:element name="lista_abResponse" type="tns:lista_abResponse"/>

<xs:element name="lista_op" type="tns:lista_op"/>

<xs:element name="lista_opResponse" type="tns:lista_opResponse"/>

<xs:complexType name="altera">
<xs:sequence>
<xs:element name="codigo" type="xs:int" minOccurs="0"/>
<xs:element name="codCargo" type="xs:int" minOccurs="0"/>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="acesso" type="xs:int" minOccurs="0"/>
<xs:element name="fechada" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alteraResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adiciona">
<xs:sequence>
<xs:element name="codigo" type="xs:int" minOccurs="0"/>
<xs:element name="codCargo" type="xs:int" minOccurs="0"/>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="acesso" type="xs:int" minOccurs="0"/>
<xs:element name="fechada" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adicionaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lista_op">
<xs:sequence>
<xs:element name="lista_op" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lista_opResponse">
<xs:sequence>
<xs:element name="return" type="tns:oportunidade" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="oportunidade">
<xs:sequence>
<xs:element name="acesso" type="xs:int"/>
<xs:element name="codcargo" type="xs:int"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="fechada" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lista_ab">
<xs:sequence>
<xs:element name="lista_ab" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lista_abResponse">
<xs:sequence>
<xs:element name="return" type="tns:oportunidade" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exclui">
<xs:sequence>
<xs:element name="exclui" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consulta">
<xs:sequence>
<xs:element name="consulta" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaResponse">
<xs:sequence>
<xs:element name="return" type="tns:oportunidade" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>